<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/mnt/data/A1QAcourse/allureEx">
        <classes>
            <class name="my.company.Pages.LoginPage">
                <methods>
                    <include name="login"/>
                </methods>
            </class>
            <class name="my.company.SimpleTest">
                <methods>
                    <include name="simpleTestOne"/>
                    <include name="simpleTestTwo"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>